<<div class="wrap">
    <ul id="nav" class="ddsmoothmenu">
        <li class="active"><a href="index.html" class="home">Home</a></li>
        <li><a href="about.html"><span><em>About</em></span></a></li>
        <li>
            <a href="#"  class="with-drop"><span><em>Styles</em></span></a>
            <ul class="drop">
                <li>
                    <a href="#" class="with-drop">Color variations</a>
                    <ul class="drop2">
                        <li><a href="../markup/index.html">Black</a></li>
                        <li><a href="../colors/midnight-blue/index.html">Midnight blue</a></li>
                        <li><a href="../colors/azure/index.html">Azure</a></li>
                        <li><a href="../colors/cerulean/index.html">Cerulean</a></li>
                        <li><a href="../colors/cofee/index.html">Coffee</a></li>
                        <li><a href="../colors/emerald/index.html">Emerald</a></li>
                        <li><a href="../colors/contrast-green/index.html">Contrast green</a></li>
                        <li><a href="../colors/camouflage-green/index.html">Camouflage green</a></li>
                        <li><a href="../colors/indigo/index.html">Indigo</a></li>
                        <li><a href="../colors/amethyst/index.html">Amethyst</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="with-drop">Slider variations</a>
                    <ul id="sliderSwitch" class="drop2">
                        <li id="slider1"><a href="index.html">Loooped slider</a></li>
                        <li id="slider2"><a href="index-slider02.html">Loooped slider(right)</a></li>
                        <li id="slider3"><a href="index-slider03.html">Roundabout slider</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="blog.html"><span><em>Blog</em></span></a></li>
        <li><a href="portfolio.html"><span><em>Portfolio</em></span></a></li>
        <li><a href="market.html"><span><em>Market</em></span></a></li>
        <li><a href="contacts.html"><span><em>Contacts</em></span></a></li>
    </ul>
</div>