<div class="column">
    <h3>Newsteller</h3>
    <p>Duis vitae facilisis sapien. Sed vel porta erat. Quisque libero libero.</p>
    <form action="#" class="subscribe-form">
        <fieldset>
            <span class="text-wrap"><input type="text" class="text" value="E-mail Address" /></span>
            <input type="submit" class="submit" value="Subscribe now!" />
        </fieldset>
    </form>
    <h3>Get Social</h3>
    <ul class="social-list">
        <li><a href="#" class="social1 fadeThis"><span class="hover">social1</span></a></li>
        <li><a href="#" class="social2 fadeThis"><span class="hover">sosial2</span></a></li>
        <li><a href="#" class="social3 fadeThis"><span class="hover">sosial3</span></a></li>
        <li><a href="#" class="social4 fadeThis"><span class="hover">sosial4</span></a></li>
        <li><a href="#" class="social5 fadeThis"><span class="hover">sosial5</span></a></li>
        <li><a href="#" class="social6 fadeThis"><span class="hover">sosial6</span></a></li>
        <li><a href="#" class="social7 fadeThis"><span class="hover">sosial7</span></a></li>
        <li><a href="#" class="social8 fadeThis"><span class="hover">sosial8</span></a></li>
    </ul>
</div>